/* @group Animations */
/* @end */
/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
/* line 21, ../sass/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
/* line 31, ../sass/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 40, ../sass/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
/* line 49, ../sass/_normalize.scss */
[hidden] {
  display: none;
}

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 63, ../sass/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

/*
 * Removes default margin.
 */
/* line 73, ../sass/_normalize.scss */
body {
  margin: 0;
}

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
/* line 85, ../sass/_normalize.scss */
a {
  text-decoration: none;
}

/* line 91, ../sass/_normalize.scss */
a:focus,
a:active,
a:hover {
  outline: 0;
}

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
/* line 104, ../sass/_normalize.scss */
h1 {
  font-size: 2em;
}

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
/* line 112, ../sass/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
/* line 121, ../sass/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
/* line 129, ../sass/_normalize.scss */
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE 8/9.
 */
/* line 137, ../sass/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
/* line 150, ../sass/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/*
 * Improves readability of pre-formatted text in all browsers.
 */
/* line 159, ../sass/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * Sets consistent quote types.
 */
/* line 169, ../sass/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
/* line 177, ../sass/_normalize.scss */
small {
  font-size: 80%;
}

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 186, ../sass/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 193, ../sass/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 197, ../sass/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
/* line 209, ../sass/_normalize.scss */
img {
  border: 0;
}

/*
 * Corrects overflow displayed oddly in IE 9.
 */
/* line 217, ../sass/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
/* line 229, ../sass/_normalize.scss */
figure {
  margin: 0;
}

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
/* line 241, ../sass/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 252, ../sass/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
/* line 266, ../sass/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */
}

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 278, ../sass/_normalize.scss */
button,
input {
  line-height: normal;
}

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 293, ../sass/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements.
 */
/* line 303, ../sass/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
/* line 313, ../sass/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 324, ../sass/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
/* line 337, ../sass/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in Firefox 4+.
 */
/* line 346, ../sass/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
/* line 356, ../sass/_normalize.scss */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
/* line 369, ../sass/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Proxima Nova";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/ProximaNova-Reg-webfont.eot');
  src: url('../fonts/ProximaNova-Reg-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/ProximaNova-Reg-webfont.woff') format("woff"), url('../fonts/ProximaNova-Reg-webfont.ttf') format("truetype"), url('../fonts/ProximaNova-Reg-webfont.svg#ProximaNovaRgRegular') format("svg");
}

@font-face {
  font-family: "Proxima Nova Thin";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/ProximaNova-Thin-webfont.eot');
  src: url('../fonts/ProximaNova-Thin-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/ProximaNova-Thin-webfont.woff') format("woff"), url('../fonts/ProximaNova-Thin-webfont.ttf') format("truetype"), url('../fonts/ProximaNova-Thin-webfont.svg#ProximaNovaThin') format("svg");
}

@font-face {
  font-family: "Proxima Nova Light";
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/ProximaNova-Light-webfont.eot');
  src: url('../fonts/ProximaNova-Light-webfont.eot?#iefix') format("embedded-opentype"), url('../fonts/ProximaNova-Light-webfont.woff') format("woff"), url('../fonts/ProximaNova-Light-webfont.ttf') format("truetype"), url('../fonts/ProximaNova-Light-webfont.svg#ProximaNovaLight') format("svg");
}

/* line 2, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* line 6, ../sass/_type.scss */
h2 {
  font-size: 2em;
}

/* line 10, ../sass/_type.scss */
h3 {
  font-size: 1.5em;
}

/* line 14, ../sass/_type.scss */
h4 {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: .25em;
}

/* @group General Alignment */
/* line 4, ../sass/_patterns.scss */
.align-right {
  float: right;
  margin: 0 0 24px 24px;
}

/* line 9, ../sass/_patterns.scss */
.align-left {
  float: left;
  margin: 0 0 24px 24px;
}

/* @end */
/* @group Buttons */
/* line 18, ../sass/_patterns.scss */
.btn {
  color: #fff !important;
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 14px 46px 14px 26px;
  position: relative;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
  text-transform: uppercase;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
/* line 30, ../sass/_patterns.scss */
.btn:hover {
  text-decoration: none !important;
}
/* line 33, ../sass/_patterns.scss */
.btn:hover span {
  -webkit-transform: translate3d(3px, 0, 0);
  -moz-transform: translate3d(3px, 0, 0);
  -ms-transform: translate3d(3px, 0, 0);
  -o-transform: translate3d(3px, 0, 0);
  transform: translate3d(3px, 0, 0);
}
/* line 38, ../sass/_patterns.scss */
.btn.btn-blue {
  background: #1b4790;
  background: rgba(27, 71, 144, 0.75);
}
/* line 42, ../sass/_patterns.scss */
.btn.btn-blue:hover {
  background: rgba(27, 71, 144, 0.9);
}
/* line 47, ../sass/_patterns.scss */
.btn.right {
  float: right;
}
/* line 51, ../sass/_patterns.scss */
.btn.left {
  float: left;
}
/* line 55, ../sass/_patterns.scss */
.btn span {
  font-size: 36px;
  font-style: normal;
  line-height: 1;
  position: absolute;
  right: 18px;
  top: 3px;
  -webkit-transition: all 0.1s ease-out;
  -moz-transition: all 0.1s ease-out;
  -o-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

/* @end */
/* Default sizes */
/* Grid */
/* line 12, ../sass/_layout.scss */
.row {
  float: left;
  position: relative;
  width: 100%;
  zoom: 1;
}
/* line 5, ../sass/_mixins.scss */
.row:before, .row:after {
  content: "";
  display: table;
}
/* line 10, ../sass/_mixins.scss */
.row:after {
  clear: both;
}
/* line 18, ../sass/_layout.scss */
.row.center {
  text-align: center;
}
/* line 21, ../sass/_layout.scss */
.row.left {
  text-align: left;
}
/* line 24, ../sass/_layout.scss */
.row.right {
  text-align: right;
}

/* line 29, ../sass/_layout.scss */
.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  min-width: 1140px;
  position: relative;
  width: 100%;
}

/* line 37, ../sass/_layout.scss */
.wrapper-980 {
  margin: 0 auto;
  width: 980px;
}

/* line 43, ../sass/_layout.scss */
.pad {
  padding: 25px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* Reusable column setup */
/* line 50, ../sass/_layout.scss */
.col {
  -webkit-background-clip: padding-box !important;
  -moz-background-clip: padding-box !important;
  background-clip: padding-box !important;
  border: 0px solid rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  margin-left: 2%;
  padding: 0 1.5%;
  position: relative;
}
/* line 59, ../sass/_layout.scss */
.col .first-in {
  margin-left: 0;
}

/* line 65, ../sass/_layout.scss */
.span-1 {
  width: 6.5%;
}

/* line 74, ../sass/_layout.scss */
.offset-1 {
  margin-left: 8.5%;
}

/* line 65, ../sass/_layout.scss */
.span-2 {
  width: 15%;
}

/* line 74, ../sass/_layout.scss */
.offset-2 {
  margin-left: 17%;
}

/* line 65, ../sass/_layout.scss */
.span-3 {
  width: 23.5%;
}

/* line 74, ../sass/_layout.scss */
.offset-3 {
  margin-left: 25.5%;
}

/* line 65, ../sass/_layout.scss */
.span-4 {
  width: 32%;
}

/* line 74, ../sass/_layout.scss */
.offset-4 {
  margin-left: 34%;
}

/* line 65, ../sass/_layout.scss */
.span-5 {
  width: 40.5%;
}

/* line 74, ../sass/_layout.scss */
.offset-5 {
  margin-left: 42.5%;
}

/* line 65, ../sass/_layout.scss */
.span-6 {
  width: 49%;
}

/* line 74, ../sass/_layout.scss */
.offset-6 {
  margin-left: 51%;
}

/* line 65, ../sass/_layout.scss */
.span-7 {
  width: 57.5%;
}

/* line 74, ../sass/_layout.scss */
.offset-7 {
  margin-left: 59.5%;
}

/* line 65, ../sass/_layout.scss */
.span-8 {
  width: 66%;
}

/* line 74, ../sass/_layout.scss */
.offset-8 {
  margin-left: 68%;
}

/* line 65, ../sass/_layout.scss */
.span-9 {
  width: 74.5%;
}

/* line 74, ../sass/_layout.scss */
.offset-9 {
  margin-left: 76.5%;
}

/* line 65, ../sass/_layout.scss */
.span-10 {
  width: 83%;
}

/* line 74, ../sass/_layout.scss */
.offset-10 {
  margin-left: 85%;
}

/* line 65, ../sass/_layout.scss */
.span-11 {
  width: 91.5%;
}

/* line 74, ../sass/_layout.scss */
.offset-11 {
  margin-left: 93.5%;
}

/* line 65, ../sass/_layout.scss */
.span-12 {
  width: 100%;
  margin-left: 0;
}

/* line 80, ../sass/_layout.scss */
.span-half {
  float: left;
  width: 50%;
}
/* line 84, ../sass/_layout.scss */
.ie7 .span-half {
  width: 49.5%;
}

/* line 89, ../sass/_layout.scss */
img, object, embed {
  max-width: 100%;
}

/* line 93, ../sass/_layout.scss */
img {
  height: auto;
}

/* @group carousel */
/* line 2, ../sass/_carousel.scss */
.carousel {
  position: relative;
  margin-bottom: 20px;
  line-height: 1;
}
/* line 7, ../sass/_carousel.scss */
.carousel .carousel-inner {
  position: relative;
  width: 100%;
  height: 546px;
  overflow: hidden;
}
/* line 14, ../sass/_carousel.scss */
.carousel .item {
  height: 546px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 0;
  -webkit-transition: 0.6s ease-in-out opacity;
  -moz-transition: 0.6s ease-in-out opacity;
  -o-transition: 0.6s ease-in-out opacity;
  transition: 0.6s ease-in-out opacity;
  width: 100%;
  z-index: 1;
}
/* line 24, ../sass/_carousel.scss */
.carousel .item.item-normal .item-content {
  width: 84%;
  margin: 0 auto;
  text-align: center;
  float: none;
}
/* line 30, ../sass/_carousel.scss */
.carousel .item.item-normal .item-content h2 {
  font-size: 58px;
}
/* line 34, ../sass/_carousel.scss */
.carousel .item.item-normal .item-content p {
  padding: 15px 150px;
  font-size: 30px;
}
/* line 42, ../sass/_carousel.scss */
.carousel .item-inner {
  margin: 0 auto;
  min-width: 1140px;
  max-width: 1220px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  position: relative;
  text-align: left;
  z-index: 3;
  top: 115px;
}
/* line 52, ../sass/_carousel.scss */
.carousel .item-inner .item-content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  float: left;
  min-width: 570px;
  padding-left: 80px;
  position: relative;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.4);
  width: 51%;
}
/* line 64, ../sass/_carousel.scss */
.carousel .item-inner .item-content h2 {
  font-family: "Proxima Nova Light";
  font-size: 50px;
  font-weight: 100;
  line-height: 1.1;
  letter-spacing: -1px;
  margin-bottom: 0;
  margin-top: 75px;
}
/* line 74, ../sass/_carousel.scss */
.carousel .item-inner .item-content p {
  font-size: 26px;
  line-height: 1.65;
  margin-top: 8px;
  font-weight: 100;
}
/* line 82, ../sass/_carousel.scss */
.carousel .item-inner .img-well {
  float: right;
  position: relative;
  width: 49%;
}
/* line 87, ../sass/_carousel.scss */
.carousel .item-inner .img-well > img {
  left: 125px;
  margin-top: 45px;
  position: absolute;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition-delay: 0.35s;
  -moz-transition-delay: 0.35s;
  -o-transition-delay: 0.35s;
  transition-delay: 0.35s;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 97, ../sass/_carousel.scss */
.carousel .item-inner .video-well-wrap {
  float: right;
  margin-top: 20px;
  position: relative;
  width: 49%;
}
/* line 104, ../sass/_carousel.scss */
.carousel .item-inner .video-well {
  max-width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  position: relative;
}
/* line 111, ../sass/_carousel.scss */
.carousel .item-inner .video-well iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* line 122, ../sass/_carousel.scss */
.carousel .item > img {
  display: block;
  left: 50%;
  line-height: 1;
  margin-left: -848px;
  max-width: 1776px;
  position: absolute;
}
/* line 134, ../sass/_carousel.scss */
.carousel .active,
.carousel .next,
.carousel .prev {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 138, ../sass/_carousel.scss */
.carousel .active {
  z-index: 2;
}
/* line 141, ../sass/_carousel.scss */
.carousel .active .item-content {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 145, ../sass/_carousel.scss */
.carousel .active .img-well img {
  left: -55px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 152, ../sass/_carousel.scss */
.carousel .next,
.carousel .prev {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 157, ../sass/_carousel.scss */
.carousel .active.left,
.carousel .active.right {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
}
/* line 161, ../sass/_carousel.scss */
.carousel .carousel-control {
  background: #222222;
  border: 3px solid #ffffff;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #ffffff;
  font-size: 60px;
  font-weight: 100;
  font-weight: bold;
  height: 45px;
  left: 15px;
  line-height: 37px;
  margin-top: 20px;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  padding-right: 1px;
  position: absolute;
  text-align: center;
  top: 50%;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  width: 44px;
  z-index: 3;
}
/* line 183, ../sass/_carousel.scss */
.carousel:hover .carousel-control {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 187, ../sass/_carousel.scss */
.carousel .carousel-control.right {
  left: auto;
  padding-left: 1px;
  padding-right: 0px;
  right: 15px;
}
/* line 194, ../sass/_carousel.scss */
.carousel .carousel-control:hover {
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  text-decoration: none;
}

/* @end caoursel */
/* line 203, ../sass/_carousel.scss */
blockquote {
  margin: 0;
}

/* line 207, ../sass/_carousel.scss */
blockquote.quote {
  background: #5174a8;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-size: 22px;
  margin-bottom: 25px;
  padding: 15px 25px 55px;
  width: 100%;
}
/* line 218, ../sass/_carousel.scss */
blockquote.quote p {
  margin: 0;
  padding: 15px 15px 0;
}
/* line 223, ../sass/_carousel.scss */
blockquote.quote cite {
  float: right;
  font-size: 17px;
  padding-right: 50px;
}

/* line 230, ../sass/_carousel.scss */
#carousel-quotes {
  background: #5174a8;
  padding: 15px 0 35px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  color: #fff;
  font-size: 22px;
  width: 100%;
}
/* line 238, ../sass/_carousel.scss */
#carousel-quotes .carousel-inner {
  height: 250px;
  padding: 0;
  margin: 0;
  padding: 20px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}
/* line 247, ../sass/_carousel.scss */
#carousel-quotes .item {
  height: 250px;
  list-style: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding-right: 25px;
  width: 100%;
}
/* line 254, ../sass/_carousel.scss */
#carousel-quotes .item p {
  padding: 15px 15px 0;
  margin: 0;
}
/* line 259, ../sass/_carousel.scss */
#carousel-quotes .item cite {
  font-size: 17px;
  padding-right: 50px;
  float: right;
}

/* @group pips */
/* line 269, ../sass/_carousel.scss */
.pips-wrapper {
  clear: both;
  float: left;
  left: 50%;
  position: relative;
  text-align: left;
}

/* line 277, ../sass/_carousel.scss */
.pips {
  list-style: none;
  margin: 0;
  padding: 0;
  left: -50%;
  position: relative;
  text-align: left;
}
/* line 54, ../sass/_mixins.scss */
.pips li {
  list-style: none;
}
/* line 283, ../sass/_carousel.scss */
.pips li {
  float: left;
  margin-right: 6px;
}
/* line 287, ../sass/_carousel.scss */
.pips li.last {
  margin-right: 0;
}
/* line 292, ../sass/_carousel.scss */
.pips a.page {
  border: 4px solid #fff;
  border: 4px solid rgba(255, 255, 255, 0.6);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  height: 8px;
  overflow: hidden;
  text-indent: 100%;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  white-space: nowrap;
  width: 8px;
  display: block;
}
/* line 305, ../sass/_carousel.scss */
.pips a.page.active {
  background: #fff;
}

/* @end pips */
/* line 1, ../sass/_tab.scss */
.nav-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
/* line 54, ../sass/_mixins.scss */
.nav-tabs li {
  list-style: none;
}
/* line 8, ../sass/_tab.scss */
.nav-tabs.consultation-tabs li {
  padding: 0 20px;
}
/* line 11, ../sass/_tab.scss */
.nav-tabs.consultation-tabs li a {
  border-bottom: 5px solid transparent;
  padding: 15px;
}
/* line 15, ../sass/_tab.scss */
.nav-tabs.consultation-tabs li a:hover {
  border-bottom: 5px solid transparent;
}
/* line 20, ../sass/_tab.scss */
.nav-tabs.consultation-tabs li.active a {
  border-bottom: 5px solid #1b4790;
}
/* line 25, ../sass/_tab.scss */
.nav-tabs.wellness-tabs {
  float: left;
  width: 210px;
}
/* line 29, ../sass/_tab.scss */
.nav-tabs.wellness-tabs li {
  display: block;
  text-align: right;
  margin: 14px 0;
}
/* line 34, ../sass/_tab.scss */
.nav-tabs.wellness-tabs li a {
  border-right: 5px solid transparent;
  padding-right: 36px;
  line-height: 1;
  font-size: 18px;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 41, ../sass/_tab.scss */
.nav-tabs.wellness-tabs li a:hover {
  border-right: 5px solid transparent;
  -webkit-transform: translate3d(5px, 0, 0);
  -moz-transform: translate3d(5px, 0, 0);
  -ms-transform: translate3d(5px, 0, 0);
  -o-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
}
/* line 47, ../sass/_tab.scss */
.nav-tabs.wellness-tabs li.active a {
  border-right: 5px solid #1b4790;
  -webkit-transform: translate3d(5px, 0, 0);
  -moz-transform: translate3d(5px, 0, 0);
  -ms-transform: translate3d(5px, 0, 0);
  -o-transform: translate3d(5px, 0, 0);
  transform: translate3d(5px, 0, 0);
}
/* line 54, ../sass/_tab.scss */
.nav-tabs li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  text-align: center;
}
/* line 58, ../sass/_tab.scss */
.nav-tabs li a {
  color: #5a84c8;
  display: block;
  font-size: 22px;
  padding: 10px;
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}
/* line 67, ../sass/_tab.scss */
.nav-tabs li a:hover {
  color: #1b4790;
  text-decoration: none;
  -webkit-transform: translate3d(0, -3px, 0);
  -moz-transform: translate3d(0, -3px, 0);
  -ms-transform: translate3d(0, -3px, 0);
  -o-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0);
}
/* line 74, ../sass/_tab.scss */
.nav-tabs li.active a {
  color: #1b4790;
  -webkit-transform: translate3d(0, -3px, 0);
  -moz-transform: translate3d(0, -3px, 0);
  -ms-transform: translate3d(0, -3px, 0);
  -o-transform: translate3d(0, -3px, 0);
  transform: translate3d(0, -3px, 0);
}

/* line 81, ../sass/_tab.scss */
.tab-content {
  position: relative;
}
/* line 84, ../sass/_tab.scss */
.tab-content.wellness-content {
  margin: 10px 0;
  float: right;
  width: 600px;
}
/* line 89, ../sass/_tab.scss */
.tab-content.wellness-content em {
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
/* line 97, ../sass/_tab.scss */
.tab-content .tab-pane {
  display: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 1;
}
/* line 104, ../sass/_tab.scss */
.tab-content .tab-pane.active {
  display: block;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
  z-index: 2;
}

/* line 1, ../sass/_styles.scss */
body {
  background: #f2f2f2;
  color: #4d4e50;
  font: 15px/1.45 "Proxima Nova", "Proxima", "Helvetica", Arial;
  -webkit-font-smoothing: antialiased;
}
/* line 7, ../sass/_styles.scss */
body * {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/_styles.scss */
.container {
  float: left;
  overflow: hidden;
  width: 100%;
  min-width: 1140px;
}
/* line 18, ../sass/_styles.scss */
.default .container {
  background: #f2f2f2;
}

/* line 23, ../sass/_styles.scss */
.global-header {
  background: rgba(255, 255, 255, 0.8);
  height: 90px;
  min-width: 1140px;
  position: fixed;
  top: 0;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
  width: 100%;
  z-index: 10;
}
/* line 33, ../sass/_styles.scss */
.global-header:after {
  background: url("../img/header-shadow.png") 50% 0 no-repeat;
  width: 100%;
  height: 34px;
  position: absolute;
  bottom: -34px;
  content: "";
}
/* line 42, ../sass/_styles.scss */
.global-header.collapse {
  height: 70px;
  background: #fff;
}
/* line 46, ../sass/_styles.scss */
.global-header.collapse h1 {
  left: 10px;
  top: 5px;
}
/* line 50, ../sass/_styles.scss */
.global-header.collapse h1 img {
  width: 149px;
  height: 56px;
}
/* line 56, ../sass/_styles.scss */
.global-header.collapse .primary-nav li a {
  height: 70px;
}
/* line 60, ../sass/_styles.scss */
.global-header.collapse .primary-nav li a.current, .global-header.collapse .primary-nav li a:hover {
  color: #fff;
  background: rgba(27, 71, 144, 0.75);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}
/* line 68, ../sass/_styles.scss */
.global-header h1 {
  color: #fff;
  left: 20px;
  margin: 0;
  position: absolute;
  top: 11px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
/* line 76, ../sass/_styles.scss */
.global-header h1 img {
  width: 174px;
  height: 66px;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
/* line 83, ../sass/_styles.scss */
.global-header .primary-nav {
  margin: 0 auto;
  width: 100%;
}
/* line 87, ../sass/_styles.scss */
.global-header .primary-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: center;
}
/* line 54, ../sass/_mixins.scss */
.global-header .primary-nav ul li {
  list-style: none;
}
/* line 93, ../sass/_styles.scss */
.global-header .primary-nav li {
  line-height: 90px;
  max-width: 170px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 98, ../sass/_styles.scss */
.global-header .primary-nav li.login {
  position: absolute;
  right: 0;
}
/* line 102, ../sass/_styles.scss */
.global-header .primary-nav li.login a {
  color: #1b4790;
}
/* line 106, ../sass/_styles.scss */
.global-header .primary-nav li.login span {
  background: #1b4790;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  height: 22px;
  left: 8px;
  line-height: 20px;
  position: relative;
  text-align: center;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  top: -2px;
  -webkit-transition: opacity 0.3s linear;
  -moz-transition: opacity 0.3s linear;
  -o-transition: opacity 0.3s linear;
  transition: opacity 0.3s linear;
  width: 22px;
  z-index: 10;
}
/* line 124, ../sass/_styles.scss */
.global-header .primary-nav li a {
  color: #787878;
  display: table-cell;
  font-size: 13px;
  height: 90px;
  line-height: 1.25;
  padding: 0 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  vertical-align: middle;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
/* line 137, ../sass/_styles.scss */
.global-header .primary-nav li a.current, .global-header .primary-nav li a:hover {
  color: #fff;
  background: rgba(27, 71, 144, 0.75);
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4);
}

/* line 147, ../sass/_styles.scss */
.primary-intro {
  background: url("../img/home-field.jpg") 50% 0 no-repeat;
  position: relative;
  text-align: center;
}
/* line 152, ../sass/_styles.scss */
.primary-intro h2 {
  color: #fff;
  font-size: 52px;
  line-height: 1;
  margin: 0;
  padding: 120px 15% 30px;
  position: relative;
  text-shadow: 0 0 10px rgba(43, 64, 24, 0.9);
}
/* line 161, ../sass/_styles.scss */
.home .primary-intro h2 {
  padding: 0;
}
/* line 166, ../sass/_styles.scss */
.primary-intro .meta {
  color: #fff;
  display: block;
  font-size: 17px;
  position: relative;
  text-shadow: 0 0 10px rgba(43, 64, 24, 0.9);
  top: -16px;
}

/* line 180, ../sass/_styles.scss */
img.profile {
  margin: 5px 25px 20px 10px;
  float: left;
}
/* line 184, ../sass/_styles.scss */
img.wellness {
  margin: 5px 5px 0 25px;
  float: right;
}

/* line 190, ../sass/_styles.scss */
.primary-content {
  zoom: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0 auto 0;
  padding: 20px 0;
  max-width: 1140px;
}
/* line 5, ../sass/_mixins.scss */
.primary-content:before, .primary-content:after {
  content: "";
  display: table;
}
/* line 10, ../sass/_mixins.scss */
.primary-content:after {
  clear: both;
}
/* line 197, ../sass/_styles.scss */
.primary-content a {
  color: #1b468c;
}
/* line 200, ../sass/_styles.scss */
.primary-content a:hover {
  text-decoration: underline;
}
/* line 205, ../sass/_styles.scss */
.primary-content p {
  line-height: 1.65;
  margin: 0 0 1em;
}
/* line 211, ../sass/_styles.scss */
.page-blog-single .primary-content p, .page-blog-single .primary-content ul, .page-blog-single .primary-content h3, .page-blog-single .primary-content h4 {
  padding-left: 60px;
  padding-right: 60px;
}
/* line 216, ../sass/_styles.scss */
.page-blog-single .primary-content ul {
  margin: 10px 40px 15px;
}
/* line 223, ../sass/_styles.scss */
.primary-content input,
.primary-content textarea,
.primary-content select {
  border: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 18px;
}

/* line 231, ../sass/_styles.scss */
.row {
  width: 100%;
  zoom: 1;
}
/* line 5, ../sass/_mixins.scss */
.row:before, .row:after {
  content: "";
  display: table;
}
/* line 10, ../sass/_mixins.scss */
.row:after {
  clear: both;
}

/* line 236, ../sass/_styles.scss */
.primary-tagline {
  margin: 0 auto;
  max-width: 1140px;
  padding: 10px 0;
  text-align: center;
}
/* line 242, ../sass/_styles.scss */
.primary-tagline p {
  font-size: 22px;
  line-height: 1.7;
  color: #222;
}

/* line 249, ../sass/_styles.scss */
.post {
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.4);
  float: left;
  margin-bottom: 20px;
  margin-right: 2%;
  min-height: 340px;
  padding: 20px;
  position: relative;
  width: 32%;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  -o-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
/* line 263, ../sass/_styles.scss */
.post.new:after {
  content: "";
  display: block;
  height: 50px;
  position: absolute;
  width: 50px;
  background: url("/img/icon-new.png") no-repeat 0 0;
  top: -5px;
  right: -10px;
}
/* line 270, ../sass/_styles.scss */
.post.medium {
  width: 66%;
}
/* line 274, ../sass/_styles.scss */
a .post {
  color: #4d4e50;
}
/* line 277, ../sass/_styles.scss */
a .post:hover {
  top: -4px;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
}
/* line 283, ../sass/_styles.scss */
.post.last {
  margin-right: 0%;
}
/* line 287, ../sass/_styles.scss */
.post.full-size {
  zoom: 1;
  float: none;
  margin: 0 auto;
  width: 82%;
}
/* line 5, ../sass/_mixins.scss */
.post.full-size:before, .post.full-size:after {
  content: "";
  display: table;
}
/* line 10, ../sass/_mixins.scss */
.post.full-size:after {
  clear: both;
}
/* line 295, ../sass/_styles.scss */
.blog .post.full-size, .normal .post.full-size, .default .post.full-size {
  padding: 24px 40px;
  -webkit-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.4);
}
/* line 301, ../sass/_styles.scss */
.post h3 {
  margin: 0;
}
/* line 305, ../sass/_styles.scss */
.post .meta {
  font-size: 13px;
  color: #777;
  margin: 0 0 10px;
}

/* line 312, ../sass/_styles.scss */
.global-footer {
  background: #fff;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding: 50px 0;
  text-align: center;
  color: #787878;
  font-size: 12px;
}
/* line 321, ../sass/_styles.scss */
.global-footer a {
  color: #1b4790;
}
/* line 325, ../sass/_styles.scss */
.global-footer .footer-nav {
  margin: 0 auto;
  width: 100%;
}
/* line 329, ../sass/_styles.scss */
.global-footer .footer-nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
  text-align: center;
}
/* line 54, ../sass/_mixins.scss */
.global-footer .footer-nav ul li {
  list-style: none;
}
/* line 335, ../sass/_styles.scss */
.global-footer .footer-nav li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
}
/* line 338, ../sass/_styles.scss */
.global-footer .footer-nav li a {
  color: #787878;
  display: block;
  font-size: 13px;
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.4);
  text-transform: uppercase;
  -webkit-transition: all 0.15s linear;
  -moz-transition: all 0.15s linear;
  -o-transition: all 0.15s linear;
  transition: all 0.15s linear;
}
/* line 350, ../sass/_styles.scss */
.global-footer .footer-nav li a.current, .global-footer .footer-nav li a:hover {
  color: #1b4790;
}

/* line 358, ../sass/_styles.scss */
.disqus-comments {
  border-top: 1px solid #ddd;
  padding: 25px 0;
  margin: 20px 65px;
}
