/* @group carousel */
.carousel {
	position: relative;
	margin-bottom: 20px;
	line-height: 1;

	.carousel-inner {
		position: relative;
		width: 100%;
		height: 546px;
		overflow: hidden;
	}

	.item {
		height: 546px;
		@include opacity(0);
		position: absolute;
		top: 0;
		@include transition(0.6s ease-in-out opacity);
		width: 100%;
		z-index: 1;

		&.item-normal {
			.item-content {
				width: 84%;
				margin: 0 auto;
				text-align: center;
				float: none;

				h2 {
					font-size: 58px;
				}

				p {
					padding: 15px 150px;
					font-size: 30px;
				}
			}
		}
	}

	.item-inner {
		margin: 0 auto;
		min-width: 1140px;
		max-width: 1220px;
		@include opacity(1);
		position: relative;
		text-align: left;
		z-index: 3;
		top: 115px;

		.item-content {
			@include box-sizing(border-box);
			color: #fff;
			float: left;
			min-width: 570px;
			padding-left: 80px;
			position: relative;
			@include opacity(0);
			@include transition(opacity .3s ease-in-out);
			text-shadow: 0 0 6px rgba(#000,.4);
			width: 51%;

			h2 {
				font-family: "Proxima Nova Light";
				font-size: 50px;
				font-weight: 100;
				line-height: 1.1;
				letter-spacing: -1px;
				margin-bottom: 0;
				margin-top: 75px;
			}

			p {
				font-size: 26px;
				line-height: 1.65;
				margin-top: 8px;
				font-weight: 100;
			}
		}

		.img-well {
			float: right;
			position: relative;
			width: 49%;

			> img {
				left: 125px;
				margin-top: 45px;
				position: absolute;
				@include opacity(0);
				@include transition-delay(.35s);
				@include transition(all .5s ease-in-out);
			}
		}

		.video-well-wrap {
			float: right;
			margin-top: 20px;
			position: relative;
			width: 49%;
		}

		.video-well {
			max-width: 100%;
			height: 0;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			position: relative;

			iframe {
				height: 100%;
				left: 0;
				position: absolute;
				top: 0;
				width: 100%;
			}
		}
	}

	.item {
		> img {
			display: block;
			left: 50%;
			line-height: 1;
			margin-left: -848px;
			max-width: 1776px;
			position: absolute;
		}
	}

	.active,
	.next,
	.prev {
		@include opacity(1);
	}

	.active {
		z-index: 2;

		.item-content {
			@include opacity(1);
		}

		.img-well img {
			left: -55px;
			@include opacity(1);
		}
	}

	.next,
	.prev {
		@include opacity(1);
	}

	.active.left,
	.active.right {
		@include opacity(0);
	}

	.carousel-control {
		background: #222222;
		border: 3px solid #ffffff;
		@include border-radius(50%);
		color: #ffffff;
		font-size: 60px;
		font-weight: 100;
		font-weight: bold;
		height: 45px;
		left: 15px;
		line-height: 37px;
		margin-top: 20px;
		@include opacity(0);
		padding-right: 1px;
		position: absolute;
		text-align: center;
		top: 50%;
		@include transition(opacity .3s linear);
		width: 44px;
		z-index: 3;
	}

	&:hover .carousel-control {
		@include opacity(.4);
	}

	.carousel-control.right {
		left: auto;
		padding-left: 1px;
		padding-right: 0px;
		right: 15px;
	}

	.carousel-control:hover {
		color: #fff;
		@include opacity(.7);
		text-decoration: none;
	}
}

/* @end caoursel */

blockquote {
	margin: 0;
}

blockquote.quote {
	background: #5174a8;
	@include border-radius(12px);
	@include box-sizing(border-box);
	color: #fff;
	display: block;
	font-size: 22px;
	margin-bottom: 25px;
	padding: 15px 25px 55px;
	width: 100%;

	p {
		margin: 0;
		padding: 15px 15px 0;
	}

	cite {
		float: right;
		font-size: 17px;
		padding-right: 50px;
	}
}

#carousel-quotes {
	background: #5174a8;
	padding: 15px 0 35px;
	@include border-radius(12px);
	color: #fff;
	font-size: 22px;
	width: 100%;

	.carousel-inner {
		height: 250px;
		padding: 0;
		margin: 0;
		padding: 20px;
		@include box-sizing(border-box);
		width: 100%;
	}

	.item {
		height: 250px;
		list-style: none;
		@include box-sizing(border-box);
		padding-right: 25px;
		width: 100%;

		p {
			padding: 15px 15px 0;
			margin: 0;
		}

		cite {
			font-size: 17px;
			padding-right: 50px;
			float: right;
		}
	}
}

/* @group pips */

.pips-wrapper {
	clear: both;
	float: left;
	left: 50%;
	position: relative;
	text-align: left;
}

.pips {
	@include ui-list;
	left: -50%;
	position: relative;
	text-align: left;

	li {
		float: left;
		margin-right: 6px;

		&.last {
			margin-right: 0;
		}
	}

	a.page {
		border: 4px solid #fff;
		border: 4px solid rgba(#fff,0.6);
		@include border-radius(50%);
		@include inline-block;
		height: 8px;
		overflow: hidden;
		text-indent: 100%;
		@include transition(all .15s linear);
		white-space: nowrap;
		width: 8px;
		display: block;

		&.active {
			background: #fff;
		}
	}
}

/* @end pips */
