
// Colors

$base: #4d4e50;

$beige: #ebe9da;
$beige-dark: #d2d0ca;
$beige-light: #f3f2ec;

$blue: #007bc7;
$blue-hover: #076ba8;

$blue-light: #ade2f5;
$blue-medium: #00b2e9;
$blue-dark: #0a486d;
$blue-dark-hover: #023351;

$brown: #898775;
$brown-hover: #9d9b86;

$green: #76c34d;
$green-hover: #60a63c;

$grey: #5e5f61;
$grey-light: #e1e1e1;
$grey-dark: #3e4042;

$orange: #ed8343;
$orange-hover: #d66622;

$red: #ea4648;
$red-hover: #c82c2e;

$yellow: #f9c031;
$yellow-alt: #fac72a;

// Override Compass defaults

$default-border-radius: 5px;
$default-transition-duration: 0.15s;
$default-transition-function: linear;
