
/* Default sizes */

$grid-max-width: 1400px;
$grid-min-width: 1140px;
$col-width: 8.5%;
$col-padding: 1.5%;
$col-margin: 2%;

/* Grid */

.row {
	float: left;
	position: relative;
	width: 100%;
	@include clear;

	&.center {
		text-align: center;
	}
	&.left {
		text-align: left;
	}
	&.right {
		text-align: right;
	}
}

.wrapper {
	margin: 0 auto;
	max-width: $grid-max-width;
	min-width: $grid-min-width;
	position: relative;
	width: 100%;
}

.wrapper-980 {
	margin: 0 auto;
	width: 980px;
}


.pad {
	padding: 25px 15px;
	@include box-sizing(border-box);
}

/* Reusable column setup */

.col {
	@include background-clip(padding-box !important);
	border: 0px solid rgba(0,0,0,0);
	@include box-sizing(border-box);
	float: left;
	margin-left: $col-margin;
	padding: 0 $col-padding;
	position: relative;

 .first-in {
		margin-left: 0;
	}
}

@for $i from 1 through 12 {
	.span-#{$i} {
		width: ($col-width * $i) - 2%;

		@if $i == 12 {
			margin-left: 0;
		}
	}

	@if $i < 12 {
		.offset-#{$i} {
			margin-left: $col-width * $i;
		}
	}
}

.span-half {
	float: left;
	width: 50%;

	.ie7 & {
		width: 49.5%;
	}
}

img, object, embed {
	max-width: 100%;
}

img {
	height: auto;
}
