@mixin clear {
	zoom: 1;

	&:before,
	&:after {
		content: "";
		display: table;
	}

	&:after {
		clear: both;
	}
}

@mixin position( $left: 0, $top: 0, $pos: absolute ) {
	position: $pos;
	left: $left;
	top: $top;
}


@mixin block( $width: 0, $height: 0 ) {
	display: block;
	height: $height;
	width: $width;
}

@mixin font-face( $name, $filename, $svg_id, $style: normal, $weight: normal ) {
	@font-face {
		font-family: "#{$name}";
		font-style: $style;
		font-weight: $weight;
		src: font-url( "#{$filename}.eot" );
		src: font-url( "#{$filename}.eot?#iefix" ) format( "embedded-opentype" ),
			 font-url( "#{$filename}.woff" ) format( "woff" ),
			 font-url( "#{$filename}.ttf" ) format( "truetype" ),
			 font-url( "#{$filename}.svg##{$svg_id}" ) format( "svg" );
	}
}

@mixin generated-content( $width: 0, $height: 0 ) {
	content: "";
	display: block;
	height: $height;
	position: absolute;
	width: $width;
}

@mixin ui-list {
	list-style: none;
	margin: 0;
	padding: 0;

	li {
		list-style: none;
	}
}
