
/* @group General Alignment */

.align-right {
	float: right;
	margin: 0 0 24px 24px;
}

.align-left {
	float: left;
	margin: 0 0 24px 24px;
}

/* @end */

/* @group Buttons */

.btn {
	color: #fff !important;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 14px 46px 14px 26px;
	position: relative;
	text-shadow: 0 1px 0 rgba(#000,.4);
	text-transform: uppercase;
	@include transition;

	&:hover {
		text-decoration: none !important;

		span {
			@include translate3d(3px,0,0);
		}
	}

	&.btn-blue {
		background: #1b4790;
		background: rgba(#1b4790, .75);

		&:hover {
			background: rgba(#1b4790, .9);
		}
	}

	&.right {
		float: right;
	}

	&.left {
		float: left;
	}

	span {
		font-size: 36px;
		font-style: normal;
		line-height: 1;
		position: absolute;
		right: 18px;
		top: 3px;
		@include transition(all .1s ease-out);
		@include translate3d(0,0,0);
	}
}

/* @end */
