body {
	background: #f2f2f2;
	color: $base;
	font: 15px/1.45 "Proxima Nova", "Proxima", "Helvetica", Arial;
	-webkit-font-smoothing: antialiased;

	* {
		@include box-sizing(border-box);
	}
}

.container {
	float: left;
	overflow: hidden;
	width: 100%;
	min-width: $grid-min-width;

	.default & {
		background: #f2f2f2;
	}
}

.global-header {
	background: rgba(#fff,.8);
	height: 90px;
	min-width: $grid-min-width;
	position: fixed;
	top: 0;
	@include transition;
	width: 100%;
	z-index: 10;

	&:after {
		background: url( '../img/header-shadow.png' ) 50% 0 no-repeat;
		width: 100%;
		height: 34px;
		position: absolute;
		bottom: -34px;
		content: "";
	}

	&.collapse {
		height: 70px;
		background: #fff;

		h1 {
			left: 10px;
			top: 5px;

			img {
				width: 149px;
				height: 56px;
			}
		}

		.primary-nav li a {
			height: 70px;

			&.current,
			&:hover {
				color: #fff;
				background: rgba(#1b4790, .75);
				text-shadow: 0 1px 0 rgba(#000,.4);
			}
		}
	}

	h1 {
		color: #fff;
		left: 20px;
		margin: 0;
		position: absolute;
		top: 11px;
		@include transition;

		img {
			width: 174px;
			height: 66px;
			@include transition;
		}
	}

	.primary-nav {
		margin: 0 auto;
		width: 100%;

		ul {
			@include ui-list;
			font-size: 0;
			text-align: center;
		}

		li {
			line-height: 90px;
			max-width: 170px;
			@include inline-block;

			&.login {
				position: absolute;
				right: 0;

				a {
					color: #1b4790;
				}

				span {
					background: #1b4790;
					@include border-radius(50%);
					color: #fff;
					font-size: 20px;
					height: 22px;
					left: 8px;
					line-height: 20px;
					position: relative;
					text-align: center;
					@include inline-block;
					top: -2px;
					@include transition(opacity .3s linear);
					width: 22px;
					z-index: 10;
				}
			}

			a {
				color: #787878;
				display: table-cell;
				font-size: 13px;
				height: 90px;
				line-height: 1.25;
				padding: 0 20px;
				text-shadow: 0 1px 0 rgba(#fff,.4);
				text-transform: uppercase;
				vertical-align: middle;
				@include transition;

				&.current,
				&:hover {
					color: #fff;
					background: rgba(#1b4790, .75);
					text-shadow: 0 1px 0 rgba(#000,.4);
				}
			}
		}
	}
}

.primary-intro {
	background: url( '../img/home-field.jpg' ) 50% 0 no-repeat;
	position: relative;
	text-align: center;

	h2 {
		color: #fff;
		font-size: 52px;
		line-height: 1;
		margin: 0;
		padding: 120px 15% 30px;
		position: relative;
		text-shadow: 0 0 10px rgba(#2b4018,.9);

		.home & {
			padding: 0;
		}
	}

	.meta {
		color: #fff;
		display: block;
		font-size: 17px;
		position: relative;
		text-shadow: 0 0 10px rgba(#2b4018,.9);
		top: -16px;
	}

	.page-blog-single & {
	}
}

img {
	&.profile {
		margin: 5px 25px 20px 10px;
		float: left;
	}
	&.wellness {
		margin: 5px 5px 0 25px;
		float: right;
	}
}

.primary-content {
	@include clear;
	@include box-sizing(border-box);
	margin: 0 auto 0;
	padding: 20px 0;
	max-width: 1140px;

	a {
		color: #1b468c;

		&:hover {
			text-decoration: underline;
		}
	}

	p {
		line-height: 1.65;
		margin: 0 0 1em;
	}

	.page-blog-single & {
		p, ul, h3, h4 {
			padding-left: 60px;
			padding-right: 60px;
		}

		ul {
			margin: 10px 40px 15px;
		}
	}

	input,
	textarea,
	select {
		border: 0;
		@include box-sizing(border-box);
		padding: 10px;
		font-size: 18px;
	}
}

.row {
	width: 100%;
	@include clear;
}

.primary-tagline {
	margin: 0 auto;
	max-width: 1140px;
	padding: 10px 0;
	text-align: center;

	p {
		font-size: 22px;
		line-height: 1.7;
		color: #222;
	}
}

.post {
	background: #fff;
	@include border-radius(2px);
	@include box-sizing(border-box);
	@include box-shadow(0 1px 1px 0 rgba(#000, .4));
	float: left;
	margin-bottom: 20px;
	margin-right: 2%;
	min-height: 340px;
	padding: 20px;
	position: relative;
	width: 32%;
	@include transition(all .1s linear);

	&.new:after {
		@include generated-content(50px, 50px);
		background: url( "/img/icon-new.png" ) no-repeat 0 0;
		top: -5px;
		right: -10px;
	}

	&.medium {
		width: 66%
	}

	a & {
		color: $base;

		&:hover {
			top: -4px;
			@include box-shadow(0 3px 3px 0 rgba(#000, .4));
		}
	}

	&.last {
		margin-right: 0%;
	}

	&.full-size {
		@include clear;
		float: none;
		margin: 0 auto;
		width: 82%;

		.blog &,
		.normal &,
		.default & {
			padding: 24px 40px;
			@include box-shadow(0 3px 3px 0 rgba(#000, .4));
		}
	}

	h3 {
		margin: 0;
	}

	.meta {
		font-size: 13px;
		color: #777;
		margin: 0 0 10px;
	}
}

.global-footer {
	background: #fff;
	border-bottom: 1px solid #ddd;
	border-top: 1px solid #ddd;
	padding: 50px 0;
	text-align: center;
	color: #787878;
	font-size: 12px;

	a {
		color: #1b4790
	}

	.footer-nav {
		margin: 0 auto;
		width: 100%;

		ul {
			@include ui-list;
			font-size: 0;
			text-align: center;
		}

		li {
			@include inline-block;

			a {
				color: #787878;
				display: block;
				font-size: 13px;
				height: 40px;
				line-height: 40px;
				padding: 0 20px;
				text-shadow: 0 1px 0 rgba(#fff,.4);
				text-transform: uppercase;
				@include transition;

				&.current,
				&:hover {
					color: #1b4790;
				}
			}
		}
	}
}

.disqus-comments {
	border-top: 1px solid #ddd;
	padding: 25px 0;
	margin: 20px 65px;
}
