.nav-tabs {
	@include ui-list;
	font-size: 0;
	width: 100%;
	text-align: center;
	margin-bottom: 15px;

	&.consultation-tabs li {
		padding: 0 20px;

		a {
			border-bottom: 5px solid transparent;
			padding: 15px;

			&:hover {
				border-bottom: 5px solid transparent;
			}
		}

		&.active a {
			border-bottom: 5px solid #1b4790;
		}
	}

	&.wellness-tabs {
		float: left;
		width: 210px;

		li {
			display: block;
			text-align: right;
			margin: 14px 0;

			a {
				border-right: 5px solid transparent;
				padding-right: 36px;
				line-height: 1;
				font-size: 18px;
				@include transform(translate3d(0,0,0));

				&:hover {
					border-right: 5px solid transparent;
					@include transform(translate3d(5px,0,0));
				}
			}

			&.active a {
				border-right: 5px solid #1b4790;
				@include transform(translate3d(5px,0,0));
			}
		}
	}

	li {
		@include inline-block;
		text-align: center;

		a {
			color: #5a84c8;
			display: block;
			font-size: 22px;
			padding: 10px;
			position: relative;
			@include transition(all .2s ease-in-out);
			@include transform(translate3d(0,0,0));

			&:hover {
				color: #1b4790;
				text-decoration: none;
				@include transform(translate3d(0,-3px,0));
			}
		}

		&.active a {
			color: #1b4790;
			@include transform(translate3d(0,-3px,0));
		}
	}
}

.tab-content {
	position: relative;

	&.wellness-content {
		margin: 10px 0;
		float: right;
		width: 600px;

		em {
			display: block;
			font-size: 18px;
			font-weight: bold;
			text-align: center;
		}
	}

	.tab-pane {
		display: none;
		@include opacity(0);
		@include transition;
		@include transform(translate3d(0,0,0));
		z-index: 1;

		&.active {
			display: block;
			@include opacity(1);
			z-index: 2;
		}
	}	
}