
{{ entries:listing folder="blog" }}

	{{ if count == 1 || count == 4 || count == 7 || count == 10 || count == 13 || count == 16 }}
	<div class="row">
	{{ endif }}

		<a href="{{ url }}">
			<article class="post{{ if new == 'true' }} new{{ endif}}{{ if count % 3 == 0 }} last{{ endif }}">
				<h3>{{ title }}</h3>
				<div class="meta">
					<span class="date">{{ datestamp format="F jS, Y" }}</span> by
					<span class="author">
						{{ member:profile member="{{ author }}"}}
						  {{ first_name }} {{ last_name }}
						{{ /member:profile }}
					</span>
				</div>
				<p>{{ content|striptags|truncate:300|widont }}</p>
			</article>
		</a>

	{{ if count % 3 == 0 || count == total_results}}
	</div>
	{{ endif }}

{{ /entries:listing }}
