
<ul class="nav nav-tabs wellness-tabs">
	{{ tabs }}
	<li{{ if first }} class="active"{{ endif }}><a href="#{{ tab_name|slugify|lowercase }}" data-toggle="tab">{{ tab_name|slugify|lowercase }}</a></li>
	{{ /tabs }}
</ul>

<div class="tab-content wellness-content">
	{{ tabs }}
	<section class="tab-pane{{ if first }} active{{ endif }}" id="{{ tab_name|slugify|lowercase }}">
		{{ tab_content }}
	</section>
	{{ /tabs }}

	<div class="row center pad">
		<a href="/testimonials" class="btn btn-blue">See What Past Clients Have Said<span>&rsaquo;</span></a>
	</div>

</div>
