<div class="primary-intro feature-carousel">
  <div id="myCarousel" class="carousel slide">
    <div class="carousel-inner">
      {{ if video_slide == "Show" }}
      <div class="item item-video active">
      	<div class="item-inner">
      		<div class="item-content">
      			<h2>
      				Energize Employees.<br>
      				Reach Potential.
      			</h2>
      			<p>
      			  Click the video to learn how<br>
      			  Fortis Wellness can help<br>
      			  you and your company.
      			</p>
      		</div>
      		<div class="video-well-wrap">
	  			<div class="video-well">
	  				<iframe src="//player.vimeo.com/video/80418763?byline=0&badge=0&portrait=0&title=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	  			</div>
      		</div>
      	</div>
      </div>
      {{ endif }}
      {{ if featured_slide == "Show" }}
      <div class="item item-featured">
        <img src="{{ theme:img src='home-track.jpg' }}" alt="">
        <div class="item-inner">
          <div class="item-content">
            <h2>
              Track Your Progress.<br>
              Measure Your Success.
            </h2>
            <p>
              Our interactive dashboard will enable you<br>
              to visually see the health gains and weight<br>
              loss achieved throughout the program.
            </p>
          </div>
          <div class="img-well">
            <img src="{{ theme:img src='macbook-iphone.png' }}" alt="">
          </div>
        </div>
      </div>
      {{ endif }}

      {{ header_slideshow }}
      <div class="item item-normal">
        <img src="{{ background }}" alt="">
        <div class="item-inner">
          <div class="item-content">
            <h2>{{ title }}</h2>
            <p>{{ caption }}</p>
            <a href="{{ link }}" class="btn btn-blue">Learn More <span>&rsaquo;</span></a>
          </div>
        </div>
      </div>
      {{ /header_slideshow }}

    </div>
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
  </div>
</div>

<div class="primary-tagline">
  {{ content }}
</div>

<div class="primary-content" role="main">

  <article class="post medium">

    <div class="quotes">

      <blockquote>
        <div id="carousel-quotes" class="carousel slide">
          <ul class="carousel-inner">
            {{ quotes }}
            <li class="item item-{{ index }}{{ if first }} active{{ endif }}">
              {{ quote }}
              <cite>&mdash; {{ source }}</cite>
            </li>
            {{ /quotes }}
          </ul>
          <div class="pips-wrapper">
            <ul class="pips">
              <li>
                <a href="#" class="page active" data-index="1">Page 1</a>
              </li>
              <li>
                <a href="#" class="page" data-index="2">Page 2</a>
              </li>
              <li>
                <a href="#" class="page" data-index="3">Page 3</a>
              </li>
            </ul>
          </div>
        </div>
      </blockquote>

      <div class="row center pad">
        <a href="/testimonials" class="btn btn-blue">View More Testimonials<span>&rsaquo;</span></a>
      </div>
    </div>
  </article>

  <article class="post last">
    <div class="fb-like-box" data-href="https://www.facebook.com/FortisWellness" data-width="325" data-show-faces="true" data-stream="false" data-header="true"></div>
  </article>
</div>
