
<ul class="nav nav-tabs consultation-tabs">
	{{ tabs }}
	<li{{ if first }} class="active"{{ endif }}><a href="#{{ tab_name|slugify }}" data-toggle="tab">{{ tab_name|slugify }}</a></li>
	{{ /tabs }}
</ul>

<div class="tab-content consultation-tabs">
	{{ tabs }}
	<section class="tab-pane{{ if first }} active{{ endif }}" id="{{ tab_name|slugify }}">
		{{ tab_content }}
	</section>
	{{ /tabs }}
</div>
