
<div class="primary-content" role="main">

  <article class="post full-size">

    {{ content }}

    <div class="meta">
      {{ if categories }}
      <p class="entry-meta"> Filed under {{ categories_url_list }}.</p>
      {{ endif }}
    </div>

    {{ entries:listing folder="blog" conditions="categories:{ categories_option_list },url:not {page_url}" }}
    {{ if total_results }}
      {{ if first }}
      <div class="block">
        <h3>Related Entries</h3>
        <ul>
      {{ endif }}
        <li><a href="{{ url }}">{{ title }}</a></li>
      {{ if last }}
        </ul>
      </div>
      {{ endif }}
    {{ endif }}
    {{ /entries:listing }}

    {{ if show_comments }}

    <div class="disqus-comments">
      <h3>Leave Your Comments</h3>
      {{ disqus:comments account="{ disqus_account }" }}
    </div>
    {{ endif }}

  </article>

</div>
