<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ _site_name }}</title>
  <link rel="stylesheet" href="{{ theme:css src='screen' }}" media="all">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="default">

  <div class="container">
    {{ theme:partial src="header" }}

    <div class="primary-intro">
      <h2>{{ page_tagline }}</h2>
    </div>

    <div class="primary-content" role="main">

      {{ layout_content }}

    </div>

    {{ theme:partial src="footer" }}

  </div>

  {{ theme:partial src="scripts" }}
</body>
</html>
