<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ _site_name }}</title>
  <link rel="stylesheet" href="{{ theme:css src='screen' }}" media="all">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="home">

  <div class="container">

    {{ theme:partial src="header" }}

    {{ layout_content }}

    {{ theme:partial src="footer" }}

  </div>

  {{ theme:partial src="scripts" }}
</body>
</html>
