<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{ _site_name }}</title>
  <link rel="stylesheet" href="{{ theme:css src='screen' }}" media="all">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body class="default page-blog-single">

  <div class="container">
    {{ theme:partial src="header" }}

    <div class="primary-intro">
      <h2>{{ title }}</h2>
      <span class="meta">
        By
        {{ member:profile member="{{ author }}"}}
          {{ first_name }} {{ last_name }}
        {{ /member:profile }}
        on {{ datestamp format="F jS, Y" }}</span>
    </div>

    {{ layout_content }}

    {{ theme:partial src="footer" }}

  </div>

  {{ theme:partial src="scripts" }}
</body>
</html>
