<footer class="global-footer">
	<nav class="footer-nav">
		<ul>
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/corporate-wellness">Corporate Wellness</a></li>
			<li><a href="/individual-consultations">Individual Consultations</a></li>
			<li><a href="/blog">Blog</a></li>
			<li><a href="/contact">Contact</a></li>
			<li style="display: none;" class="login"><a href="FW_TEST">Client Login <span>&rsaquo;</span></a></li>
		</ul>
	</nav>
	<p>
		Copyright Fortis Wellness 2012 | <a href="mailto:fortiswellness@gmail.com">Email Us</a>
	</p>
</footer>
