
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<header class="global-header">
  <h1><a href="{{ homepage }}"><img src="{{ theme:img src='logo.png'}}" alt="Fortis Wellness"></a></h1>
  <nav class="primary-nav">
    <ul>
      {{ nav from="/" max_depth="2" }}
        <li><a href="{{ url }}"{{ if is_current || is_parent }} class="current"{{ endif }}>{{ title }}</a>
         {{ if is_current || is_parent }}
           {{ if children }}
            <ul>
            {{ children }}
              <li>
              	<a href="{{ url }}"{{ if is_current }} class="current"{{ endif }}>
              		{{ if title|length > 10 && title|word_count > 1 }}

              		{{ else }}

              		{{ endif }}
              	</a>
              </li>
            {{ /children }}
            </ul>
          {{ endif }}
        {{ endif }}
      </li>
      {{ /nav }}
    	<li class="login">
    		<a href="http://app.fortiswellness.com">Client<br>Login</a>
    	</li>
    </ul>
  </nav>
</header>
