

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
	<script src="{{ theme:js src='bootstrap-transition.js' }}"></script>
	<script src="{{ theme:js src='bootstrap-carousel.js' }}"></script>
	<script src="{{ theme:js src='bootstrap-tab.js' }}"></script>
	<script src="{{ theme:js src='pips.js' }}"></script>
	<script src="{{ theme:js }}"></script>
	<script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-34779664-1']);
	  _gaq.push(['_trackPageview']);

	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();

	</script>
